.raw-form {
    background-color: #dddddd;
    border-bottom: 1px solid #aaaaaa;
    border-top: 1px solid #aaaaaa;
}

.raw-image {
    background-color: #eeeeee;
    border: 1px solid #cccccc;
}